<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Home</title>
    </head>
</html>

<body>
    <h1>Home my Yelp Camp</h1>
</body>